@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  font-family: "Inter", sans-serif;
  background-color: #141a21;
  color: #c5c6c7;
}

.name {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.box {
  position: fixed;
  top: 0;
  transform: rotate(80deg);
  left: 0;
}

.wave {
  position: absolute;
  opacity: 0.4;
  width: 1800px;
  height: 1200px;

  border-radius: 99%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.wave.-one {
  animation: rotate 8000ms infinite linear;
  opacity: 30%;
  background: #ffffff;
}

.wave.-two {
  animation: rotate 5000ms infinite linear;
  opacity: 50%;
  background: #ffffff;
}
