@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  color: white;
  max-width: 1200px;
  margin: auto;
  font-display: smooth;
}

body {
    background-color: black;

}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: black;
  color: white;
}

nav a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav ul li {
  padding: 5px;

}

a {
  text-decoration: none;
  color: white;
  background: black;
  padding: 10px 15px;
  display: inline-block;
  transition: 0.3s;
  border-radius: 10px;
}

a:hover {
  color: black;
  background: white;
}

h1 {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: white;
  font-size: 1.5rem;
  width: auto;
}